body, html
  background: $white
  font-size: 16px

.light-text
  color: $white

.logo
  margin-left: auto
  margin-right: auto
  margin-bottom: 2em
  display: block
  width: 100%
  max-width: 160px
  @media screen and (min-width: 752px)
    margin-left: 0
    margin-right: 0
    margin-bottom: 0

.img-default
  display: block
  width: 100%

.pad-section
  padding-top: 5em
  padding-bottom: 5em

.pad-section-small
  padding-top: 2em
  padding-bottom: 2em

p.section
  font-family: 'GalanoGrotesque'
  letter-spacing: 1px
  color: $purple
  margin-bottom: 0
  text-transform: uppercase
  font-size: 0.875em
  border-bottom: 4px solid $white-2
  display: inline-block
  &.blue
    color: $purple-2
    border-bottom: 4px solid $white-1

.white-1-bg
  background: $white-1

.blue-1-bg
  background: $blue-1

.purple-bg
  background: $purple
.purple-1-bg
  background: $purple-1
.purple-2-bg
  background: $purple-2
.purple-3-bg
  background: $purple-3


.bg-light-gray
  background: $gray-light
.bg-dark-pink
  background: $pink-dark
.bg-dark-gray
  background: $gray-dark
.bg-orange
  background: $orange
.bg-navy
  background: $navy
.bg-green
  background: $green
