.home
  min-height: 100vh
  .awesome-hero
    img
      margin-top: 7em
      margin-bottom: 2em
      width: 20em
      max-width: 100%
      height: auto
    p
      font-size: 1.125em
      color: $white-2
  .co-img
    opacity: 0.5
