$white-1: #EAEAEA
$white-2: #D5D5D5
$white-3: #BABABA

$shark-03: #435454
$shark-02: #344344
$shark-01: #273334
$shark: #192425

$blue: #53CCFF
$blue-1: #33BFFD
$blue-2: #019BE5
$blue-3: #0080C4

$purple: #8352F9
$purple-1: #6F35E6
$purple-2: #6121D5
$purple-3: #5411BE

//

$black: #151419
$white: #FFFFFF

$navy: #2F4858
$blue: #33658A
$blue-light: #86BBD8

$pink-bright: #E53E61
$pink-dark: #D9436B

$green: #00FF84
$green-dark: #002333

$purple: #3722D3

$gray-dark: #7F8392
$gray-light: #E4EAF2

$orange: #F26419
$orange-light: #F6AE2D
